@page "/customers/edit/{Id:int?}"
@using FuelStation.Model.Enums;
@using FuelStation.Shared;
@inject FuelStation.Shared.LoginState loginState;
@inject HttpClient httpClient
@inject NavigationManager navigationManager

@if (loginState.IsLoggedIn == EmployeeType.Manager || loginState.IsLoggedIn == EmployeeType.Cashier) {
    <h3>Customers</h3>
    @if (customer == null) {
        <p>Loading...</p>
    }
    else {
        <EditForm Model="customer" OnValidSubmit="OnSave">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Name:</label>
                    <InputText class="form-control" @bind-Value="@customer.Name" />
                </div>
                <div class=" col-md-6">
                    <label class="form-label">Surname:</label>
                    <InputText class="form-control" @bind-Value="@customer.Surname" />
                </div>
                <div class=" col-md-6">
                    <label class="form-label">Card Number:</label>
                    <InputText class="form-control" @bind-Value="@customer.CardNumber" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
                </div>
            </div>
        </EditForm>
    }
}
else {
    <p>Access Unauthorized!</p>
}

@code {
    [Parameter] public int? Id { get; set; }
    CustomerDto customer { get; set; }


    protected override async Task OnInitializedAsync() {
        if (Id == null) {
            customer = new();
        }
        else {
            customer = await httpClient.GetFromJsonAsync<CustomerDto>($"api/customer/{Id}");
        }

    }

    private void OnCancel() {
        navigationManager.NavigateTo("customers");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        
        if (Id == null) {
            response = await httpClient.PostAsJsonAsync("api/customer", customer);

        }
        else {
            response = await httpClient.PutAsJsonAsync("api/customer", customer);

        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("customers");
    }

}

