@page "/customers"
@using FuelStation.Model.Enums;
@inject FuelStation.Shared.LoginState loginState;

@if (loginState.IsLoggedIn == EmployeeType.Manager || loginState.IsLoggedIn == EmployeeType.Cashier) {
    <h3>Customers</h3>

    
}
else {
    <p>Access Unauthorized!</p>
}

@code {

}
