@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@page "/transactions"
@using CoffeeShop.Blazor.Shared.Transaction;
@using CoffeeShop.Model;


<h1>Transactions</h1>

@if (isLoading) {
    <p>Loading ...</p>
}
else {
    <button class="btn btn-primary" @onclick="CreateItem">Create</button>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Total Price</th>
                <th>Payment Method</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactionList) {
                <tr>
                    <td>@transaction.Date</td>
                    <td>@transaction.TotalPrice</td>
                    <td>@transaction.PaymentMethod</td>
                    <td>
                        <button class="btn btn-primary" @onclick="()=> EditItem(transaction)">Edit</button>
                        <button class="btn btn-danger" @onclick="()=> DeleteItem(transaction)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h1>Transaction Line</h1>


 <table class="table table-striped table-hover">
        <thead>
        <tr>
                <th>Code</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (TransactionLine transactionLine in transactionLines)
        {
                    <tr>
                        <td> <input type="text" placeholder="Code" @bind="transactionLine.Product.Code"></td>
                        <td><input type="text" placeholder="Quantity" @bind="transactionLine.Quantity"></td>
                        <td><input type="text" placeholder="Price" @bind="transactionLine.Price" readonly></td>
                        <td><input type="text" placeholder="Total Price" @bind="transactionLine.TotalPrice" readonly></td>
                        <td>
                            <button class="btn btn-primary"  >Edit</button>
                            <button class="btn btn-danger" >Delete</button>
                        </td>
                    </tr>
        }
        </tbody>
    </table>

        <button class="btn btn-primary" @onclick="CreateItem">Create</button>

@code {
    List<TransactionLine> transactionLines = new List<TransactionLine>();

    bool isLoading { get; set; } = true;
    private List<TransactionListDto> transactionList = new();
    string errorMessage = null;


    protected override async Task OnInitializedAsync() {
        await LoadItemsFromServer();
        isLoading = false;
    }

    private async Task LoadItemsFromServer() {
       transactionList = await httpClient.GetFromJsonAsync<List<TransactionListDto>>("transaction");
    }

    private void CreateItem() {
        navigationManager.NavigateTo("transactions/edit");
    }

    private void EditItem(TransactionListDto transaction) {
        navigationManager.NavigateTo($"transactions/edit/{transaction.Id}");
    }

    private async Task DeleteItem(TransactionListDto transaction) {
        errorMessage = null;
        var comfirm = await jsRuntime.InvokeAsync<bool>("confirm", "Delete Item. Are you sure?");
        if (comfirm) {
            var response = await httpClient.DeleteAsync($"transaction/{transaction.Id}");
            if (response.IsSuccessStatusCode) {
                await LoadItemsFromServer();
            }
            else {
                errorMessage = await response.Content.ReadAsStringAsync();
                //await jsRuntime.InvokeVoidAsync("alert", error);
            }
        }
    }
 
}
